@import "../../../../../styles/variables";

.workbox {
  margin-bottom: 3rem;

  .card-body>.blockquote-footer {
    color: $thm-green;
  }

  &>.card-header {
    font-size: 1.5rem;
  }

  &>.card-body {
    font-size: 1.2rem;
  }
}

.play-icon,
.github-icon {
  width: 1.5rem;
  height: 1.5rem;

  &:first-child {
    fill: $thm-white;
  }
}