@import "../../../../../styles/variables";

.workbox {
  height: 35vh;
  margin-bottom: 3rem;
  text-align: center;

  & > .card-header {
    font-size: 1.5rem;
  }

  & > .card-body {
    font-size: 1.2rem;
  }
}

.play-icon,
.github-icon {
  width: 1.5rem;
  height: 1.5rem;

  &:first-child {
    fill: $thm-white;
  }
}
